section{
    display: flex;
    text-align: center;
    padding: 10px 25px;

}
.three-col{
    margin: 0px 15px;
    display: flex;
    flex-flow: column;
    width: 30%;
}

section img{
    border-radius: 150%;
    border: 2px solid slateblue;
}
.btn{
    height: 50px;
    width: 150px;
    border:3px solid rgb(114, 242, 247);
    margin: 0 auto;

}
.btn:hover{
    background-color: rgb(57, 223, 252);
    color: rgb(247, 239, 230);
}
footer{
    background: rgb(116, 211, 235);
    text-align: center;
    padding: 15px;
}

footer img{
    margin: 0px 20px;
}